
* {
  font-family: monospace;

  color: #f8f8f2;
}

window#waybar {
  border-radius: 5px;

}

.modules-left *, .modules-center *, .modules-right * {
  background: none;
}
 
#tray menu {
  background-color: #282a36;
  border-radius: 5px; 
}

.modules-left * {
  margin-right: 10px;
}

.modules-left:first-child {
  margin-left: 10px;
}

.modules-right:last-child {
  margin-right: 20px;
}

.modules-right * {
  margin-left: 10px;
}

/*
  Stolen from:
  https://github.com/Alexays/Waybar/issues/123#issuecomment-447919090

*/

window#waybar {
   background: transparent;
}

window > box {
  margin: 10px 20px 0 20px;
  padding: 5px 0 5px 0;
  background-color: #282a36;
  border-radius: 5px;
  
}
